<?xml version="1.0"?>
<launch>

<remap from="/vicon/Parl1" to="/vicon/drone" />

 <!-- px4 in gazebo -->
 <!-- single drone in gazebo environment-->
  <include file="$(find px4)/launch/posix_sitl.launch">
  </include>


  <!-- Mavros for simulation -->
  <group ns="drone">
  <include file="$(find mavros)/launch/node.launch">
      <arg name="fcu_url" default="udp://:14540@127.0.0.1:14557"/>
      <arg name="gcs_url" default="" />
      <arg name="tgt_system" default="1" />
      <arg name="tgt_component" default="1" />
      <arg name="log_output" default="screen" />
      <arg name="fcu_protocol" default="v2.0" />
      <arg name="respawn_mavros" default="false" />
      <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
      <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
  </include>
  </group>

 <!-- Pkg fake qualisys-->
 <!-- get drone pose and generte mocap topic vision/drone-->
  <include file="$(find fake_qualisys)/launch/fake_vicon.launch">
    <arg name="drone_name" value="Parl1"/>  <!-- output topic is /vicon/drone -->
    <arg name="gazebo_drone_link_name" value="iris::base_link"/> <!-- iris::base_link is the base link of drone mode -->
    <arg name="mocap_rate" value="200"/>
    

    <param name="drone_name" type="str" value="$(arg drone_name)"/>
    <param name="link_name" type="str" value="$(arg gazebo_drone_link_name)"/>
    <param name="mocap_rate" type="int" value="$(arg mocap_rate)"/>
  </include>

</launch>
