<?xml version="1.0"?>
<launch>

 <!-- drone absolute take off height  -->
 <arg name="drone_take_off_absolute_height" value="4.25" />

  <!-- Use official example to take off drone -->
  <node name="drone_take_off_node" pkg="drone_offboard_sim" type="drone_offboard_example_node_NED" output="screen">
    <param name="take_off_height" value="$(arg drone_take_off_absolute_height)"/> 
  </node>
</launch>