<?xml version="1.0"?>
<launch>

 <!-- drone absolute take off height  -->
 <arg name="drone_take_off_absolute_height" default="1.0" />

  <!-- Use official example to take off drone -->
  <rosparam param="take_off_height" subst_value="True">$(arg drone_take_off_absolute_height)</rosparam>

  <node name="drone_take_off_node" pkg="drone_offboard_sim" type="drone_offboard_example_node" output="screen">
      
  </node>
</launch>